
.ui-jqgrid tr.jqgrow td:first-child{ white-space: pre; }
.ui-jqgrid tr.jqgrow td {display: table-cell; font-weight: normal; overflow: hidden; white-space: normal; height: 44px; padding: 0 2px 0 2px;border-bottom-width: 1px; border-bottom-color: inherit; border-bottom-style: solid;}
.ui-jqgrid tr.jqgrow td p {max-height: 44px; margin: 0px; padding: 0px; overflow: hidden;}

/*Added by WLT - vertical text*/
.rotate
{
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    
    /*Opera*/
    -o-transform: rotate(-90deg);
}
