<html>
<head>
  <meta http-equiv=Content-Type content="text/html; charset=iso8859-2">
</head>
<body>
  <font face="Arial">
    <center>
    
      <table border="1" width="500" cellpadding="5" rules="rows">
        <tr>
          <td colspan="2" width="500" bgcolor="#ce0909"><font color="#ffffff"><b>ALIX : Adverse event notification</b></font>
          </td>
        </tr>
        <tr>
          <td width="250">Site
          </td>
          <td>{SITENAME} ({SITEID})
          </td>
        </tr>
        <tr>
          <td width="250">Physician
          </td>
          <td>{INVID}
          </td>
        </tr>
        <tr>
          <td width="250">Patient ID
          </td>
          <td>{SUBJID}
          </td>
        </tr>
        <tr>
          <td width="250">Date of birth
          </td>
          <td>{BRTHDT}
          </td>
        </tr>
        <tr>
          <td width="250">Sex
          </td>
          <td>{SEX}
          </td>
        </tr>
      </table>
      
      <br>
      
      <table border="1" width="500" cellpadding="5" rules="rows">
        <tr>
          <td colspan="2" bgcolor="#ce0909"><font color="#ffffff"><b>Adverse event / {SUBJID} / #{AERK}</b></font>
          </td>
        </tr>
        <tr>
          <td width="350"><b>Diagnosis or Signs/symptoms </b>
          </td>
          <td width="150">{DIAG}&nbsp;
          </td>
        </tr>
        <tr>
          <td><b>Onset date </b>
          </td>
          <td>{STDT}&nbsp;
          </td>
        </tr>
        <tr>
          <td><b>Maximum intensity </b>
          </td>
          <td>{AESEV}&nbsp;
          </td>
        </tr>
        <tr>
          <td><b>Concomitant therapy </b>
          </td>
          <td>{AECONTR}&nbsp;
          </td>
        </tr>
        <tr>
          <td><b>Action taken </b>
          </td>
          <td>{AEACN}&nbsp;
          </td>
        </tr>
        <tr>
          <td><b>Outcome </b>
          </td>
          <td>{AEOUT}&nbsp;
          </td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Resolution date
          </td>
          <td>{AEENDTC}&nbsp;
          </td>
        </tr>
        <tr>
          <td><b>Serious Adverse Event</b>
          </td>
          <td>{AESER}&nbsp;
          </td>
        </tr>
        <tr>
          <td><b>Comment</b>
          </td>
          <td>{AECOM}&nbsp;
          </td>
        </tr>
      </table>
    </center>
  </font>
  
</body>
</html>