<html>
<head>
  <meta http-equiv=Content-Type content="text/html; charset=iso8859-2">
</head>
<body>
  <font face="Arial">
    <center>
    
      <table border="1" width="500" cellpadding="5" rules="rows">
        <tr>
          <td colspan="2" width="500" bgcolor="#000"><font color="#ffffff"><b>ALIX DEMO STUDY</b></font>
          </td>
        </tr>
        <tr>
          <td colspan="2">Site {SITEID} ({SITENAME}) - Patient {SUBJID} {INITIALS}
          </td>
        </tr>
        <tr>
          <td>Last visit
          </td>
          <td>{LASTVISITDATE} ({LASTVISITNAME})
          </td>
        </tr>
        <tr>
          <td colspan="2"><b>Patient profile</b>
          </td>
        </tr>
      </table>
      
      <br>
      
      <table border="1" width="500" cellpadding="5" rules="rows">
        <tr>
          <td width="300" bgcolor="#000"><font color="#ffffff"><b>Subject </b></font>
          </td>
          <td width="200" bgcolor="#000"><font color="#ffffff"><b>{SUBJID}</b></font>
          </td>
        </tr>
        <tr>
          <td><b>Site </b>
          </td>
          <td>{SITEID} ({SITENAME})
          </td>
        </tr>
        <tr>
          <td><b>Initials </b>
          </td>
          <td>{INITIALS}&nbsp;
          </td>
        </tr>
        <tr>
          <td><b>Sex </b>
          </td>
          <td>{SEX}&nbsp;
          </td>
        </tr>
        <tr>
          <td><b>Date of birth </b>
          </td>
          <td>{BRTHDT}&nbsp;
          </td>
        </tr>
        </tr>
        <tr>
          <td><b>Date of inclusion </b>
          </td>
          <td>{INCDT}&nbsp;
          </td>
        </tr>
        <tr>
          <td><b>Height </b>
          </td>
          <td>{HEIGHT}&nbsp;
          </td>
        </tr>
        <tr>
          <td><b>Weight </b>
          </td>
          <td>{WEIGHT}&nbsp;
          </td>
        </tr>
      </table>
      
      <br>
      
      <table border="1" width="500" cellpadding="5" rules="rows">
        <tr>
          <td colspan="6" bgcolor="#000"><font color="#ffffff"><b>Medical and Surgical History</b></font>
          </td>
        </tr>
        {MH}
      </table>
    
    </center>
  </font>
  
</body>
</html>